h2 {
    color: #0f5679;
    background-color: rgb(89,151,0);
    text-align: center;
    font-weight: 400;
    text-decoration:white underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: sans-serif;
}
button {
    color:aquamarine;
    background-color: yellow;
    font-size: 30px;
}
p {
    color:chocolate;
    line-height: 2.5;
}
a {
    background-color: none;
    font-weight: 700;
}
/* * {
    background-color: aquamarine;
} */
h1,h2 {
    color:white;
}
body {
    background-color: #0f5679;
}
#signup {
    background-color: blue;
    color:blueviolet
}
/**.tag {
    background-color: black;
    color:white;
    font-size: 15px;
}**/
p a {
    color:chartreuse;
}
h2 + button {
    color: black;
}
p > a {
    color: #000;
}
input {
    color: forestgreen;
}
button:hover {
    background-color: aqua;
    color: black;
}
a:hover {
    text-decoration: line-through;
}
button:active {
    background-color: green;
}
h2::first-letter {
    font-size: 100px;
}
p::selection {
    background-color: cyan;
}